In [145]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Mouse_metadata.csv"
study_results_path = "Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [154]:
merg_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
merg_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [147]:
merg_df2 = merg_df.loc[:, ['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)', 'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites']]
merg_df2 = merg_df2.drop_duplicates(subset=['Mouse ID'])
count = merg_df2["Mouse ID"].count()
pd.DataFrame({'Number Of Mice': [count]})

   Number Of Mice
0             249

In [148]:
#a_df = merg_df.set_index['Mouse ID', 'Timepoint']
#has_duplicate = a_df.duplicated()
#

#duplicates = a_df[has_duplicate]

#duplicates = duplicates.loc[:, ['Mouse ID', 'Timepoint']]
#duplicates


#ids = merg_df["Mouse ID"]
#merg_df[ids.isin(ids[ids.duplicated()])].sort("Mouse ID")

In [149]:
#pd.concat(g for _, g in merg_df.groupby('Mouse ID') if len(g) > 1)

In [166]:
merg_df[merg_df['Mouse ID'].duplicated() ==True]   
mouse_data = merg_df.set_index('Mouse ID')

#grouped_mice_df = merg_df.groupby(['Mouse ID'])
#grouped_mice_df = mouse_data.groupby(['Mouse ID'])
#mouse_id_data(grouped_mice_df('Mouse ID').value_counts()
time_point_data = mouse_data["Timepoint"]
mouse_summary = pd.DataFrame({'Timepoint': time_point_data})
#grouped_mice_df.sort_values(['Timepoint'], inplace=True, ascending=False)
mouse_summary
#grouped_mice_df

          Timepoint
Mouse ID
k403              0
k403              5
k403             10
k403             15
k403             20
...             ...
z969             25
z969             30
z969             35
z969             40
z969             45

[1893 rows x 1 columns]

In [161]:
merg_df[merg_df['Mouse ID'].duplicated() == True]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [151]:
#merg_df [merg_df.dulicated(["Mouse ID"], keep=False)]
#merg_df

In [152]:
#mouse_data = merg_df.set_index('Mouse ID')
merg_df = merg_df[merg_df.duplicated(subset=['Mouse ID'], keep=False)]
merg_df
#mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [153]:

clean_summary = pd.DataFrame(merg_df2)
clean_summary

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0